@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Arima+Madurai:wght@700&family=Balsamiq+Sans:wght@700&family=Comfortaa:wght@500&family=Corinthia:wght@700&family=Cormorant+Garamond&family=Courgette&family=Dosis:wght@500&family=Gentium+Book+Basic:ital@0;1&family=Karla:wght@300&family=Kaushan+Script&family=Kavivanar&family=Kodchasan:wght@700&family=Kotta+One&family=Merienda:wght@700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,600&family=Mulish&family=Nanum+Gothic&family=Nunito:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@600&family=Roboto:ital@1&family=Salsa&family=Simonetta&family=Spartan&family=Varela+Round&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Arima+Madurai:wght@700&family=Balsamiq+Sans:wght@700&family=Comfortaa:wght@500&family=Corinthia:wght@700&family=Cormorant+Garamond&family=Courgette&family=Dosis:wght@500&family=Gentium+Book+Basic:ital@0;1&family=Karla:wght@300&family=Kaushan+Script&family=Kavivanar&family=Kodchasan:wght@700&family=Kotta+One&family=Merienda:wght@700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,600&family=Mulish&family=Nanum+Gothic&family=Nunito:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Quicksand&family=Roboto:ital@1&family=Salsa&family=Simonetta&family=Spartan&family=Varela+Round&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Arima+Madurai:wght@700&family=Balsamiq+Sans:wght@700&family=Comfortaa:wght@500&family=Corinthia:wght@700&family=Cormorant+Garamond&family=Courgette&family=Dosis:wght@500&family=Gentium+Book+Basic:ital@0;1&family=Karla:wght@300&family=Kaushan+Script&family=Kavivanar&family=Kodchasan:wght@700&family=Kotta+One&family=Merienda:wght@700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,600&family=Mulish&family=Nanum+Gothic&family=Nunito:wght@500&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Quicksand&family=Roboto:ital@1&family=Salsa&family=Simonetta&family=Spartan&family=Varela+Round&family=Work+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  navbar start  */
nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 70px;
    border-bottom: 2px solid #366BA1;
    background-color: #CDDEEE;
}

nav .logo {
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 155px;
    margin-top: 4px;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 62%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #366BA1;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

nav .links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

nav .links a:hover::after {
    width: 100%;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: blue;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

/*  navbar ends  */


/*  header start  */

.header {
    width: 100%;
    height: 655px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('https://i.postimg.cc/8k9VDWGj/background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 2px solid #366BA1;
    text-align: center;
    color: white;
}

.header h1 {
    padding-top: 200px;
    padding-bottom: 0;
    font-family: Corinthia;
    font-size: 120px;
}

.header p {
    margin: 18px 0;
    font-size: 20px;
    font-family: Quicksand;
}

.search_wrap {
    width: 600px;
    margin: 38px auto;
}

.search_wrap .search_box {
    position: relative;
    width: 600px;
    height: 50px;
}

.search_wrap .search_box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    border-radius: 2px;
    font-size: 20px;
    border: 2px solid #3d7ab8;
}

.search_wrap .search_box .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 80%;
    background-image: linear-gradient(to right, #00cc66, #66ff66);
    color: black;
    z-index: 1;
    cursor: pointer;
}

.search_wrap .search_box .btn:hover {
    background-image: linear-gradient(to right, #336699, #99ccff);
    color: black;
    cursor: pointer;
    border-bottom: 2px solid #009900;
    border-top: 2px solid #009900;
    border-right: 2px solid #009900;
}

.search_wrap .search_box .btn.btn_common .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.search_wrap.search_wrap_6 .search_box .input {
    border-radius: 50px;
    padding-right: 140px;
}

.search_wrap.search_wrap_6 .search_box .btn {
    width: 130px;
    height: 43px;
    top: 4px;
    right: 3px;
    border-radius: 2px;
    border-bottom: 2px solid #0066cc;
    border-top: 2px solid #0066cc;
    border-right: 2px solid #0066cc;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

/*  header ends  */




















@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }

    nav .links a {
        font-size: 20px;
    }

    nav :checked~.links {
        bottom: 0;
    }

    nav .icon-burger {
        display: block;
    }

    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}